body{
    display: flex;
    flex-direction: row;
    background: bisque;
}



.container {
    overflow: hidden;
    border-radius: 4px;
    width: 400px;
    border: 2px solid rgba(137, 137, 214, 0.863);
}


.container > * {
    padding: 0px;
    flex: 1 100%;
  }

.container ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 250px;
    width: 60000px;
}

ul li{
    list-style-type: none;  
    float: left;
    margin: 0;
    padding: 0;
    width: 400px;
}


.arrows{
    width: 0; 
    height: 0;
    margin: 0px;
    position: absolute;
}

.prev {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    border-right: 20px solid black;
    margin-top: 100px;
    margin-left: -30px;
}

.next {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid black;
    margin-top: -150px;
    margin-left: 410px;
    
}
  
.prev:hover{
    cursor: pointer;
    border-right: 20px solid coral;
}

.next:hover{
    cursor: pointer;
    border-left: 20px solid coral;
}


.dots {
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(rgba(137, 137, 214, 0.863), rgba(197, 168, 149, 0.945));
    border: black solid 0.5px;
    min-height: 30px;
}

.dot {
    margin-top: 2px;
    height: 25px;
    width: 25px;
    background-color:#bbb;
    border-radius: 50%;
}

img{
    width: 100%;
    max-width: 400px;
    max-height: 250px;
}
video{
    width: 100%;
    max-width: 400px;
    max-height: 250px;
}

#d1{
    background-color: #000;
}

@media all {
    .arrows { flex: 1 0 0; }
  }
  
  @media all {
    .container ul { flex: 3 0px; }
    .prev { order: 1; } 
    .container ul { order: 2; }
    .next { order: 3; }
    .dots  { order: 4; }
  }